
@model StoreApp.Library.Model.Store
@{
    ViewData["Title"] = "PlaceOrder";
}

<h1>PlaceOrder</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetProducts">
            <div class="form-group">
                <select asp-for="StoreId" asp-items="@(new SelectList(@ViewBag.locations,"StoreId","Name"))"></select>
             
                <input type="submit"/>
            </div>
        </form>
        
    </div>

</div>


